[Unit]
Description=auto start apply_clicks_counter

[Service]
ExecStart=/root/apply_clicks_counter/auto_load.sh
Type=oneshot
User=root


[Install]
WantedBy=multi-user.target
